@model WebShop.Dto.CartDto

@{
    ViewData["Title"] = "MediaSales - Kundvagn";
}


<section id='cartSection' style="margin-top:60px;">
  @if(Model.Cart.Lines.Count==0)
  {
    <div class="container-fluid">     
        <div class="col">
            <div class="col-12 d-flex justify-content-center align-items-center">
                  <h4 class="text-center">Din Kundvagn är tom</h4>         
             </div>
             <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top:30px">
                    <a asp-controller="Home" asp-action="Index" class="btn" style="background-color:darkblue;color:white">Fortsätt handla</a>
             </div>              
        </div>
    </div>
  }
  else
  {
    <h4>Din Kundvagn (@Model.TotQuantityInCart produkter)</h4>
    <div class="container">     
        <div class="row mt-4">
            <div class="col-12 col-xl-8  d-flex justify-content-center align-items-start">  
               <table class="table">
                 <tbody>
                   @foreach(var line in Model.Cart.Lines)
                   {
                            string c = "";
                            string msg = "";

                            if(line.Product.QuantityInStore>=line.Quantity)      @*  Enough in store of product to make order? *@
                            {
                                    c = "col_green";
                                    msg = "* i lager";
                            }
                            else
                            { 
                                    var inStockDate = new DateTime(2024,9,24).ToString("yyyy-MM-dd");
                                    c = "col_red";
                                    msg = "* ej i lager. (i lager " + inStockDate + ")";
                            }

                       <tr height="90px">
                         <td class="text-left" style="font-weight:normal">@line.Product.Name<p class="@Url.Content(c)" style="margin-top:5px;margin-bottom:-2px;font-size:14px;font-weight:600;">@Url.Content(msg)</p></td>
                         
                         <td class="text-center">
                             @* <div class="d-flex" style="margin-bottom:15px;position:relative;right:30px;top:30px;">
                                 <a href="#">
                                      <i class="bi bi-trash3" style="font-size:1.4rem;color:gray;"></i>
                                 </a>
                              </div> *@
                             <div class="input-group" style="width:120px;margin-top:-2px;margin-bottom:0px">   @* mt -2, mb 0 *@
                                @{
                                    string qStr = (line.Quantity < 10) ? " " + line.Quantity.ToString() : line.Quantity.ToString();
                                }
                                <a id="increase_cartline" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@line.Product.Id" class="input-group-text" style="background-color:#fafafa">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 14 14">
                                           <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                                   </svg>
                                </a>
                                <input type="text" class="form-control cartline_quantity" value="@Url.Content(qStr)" readonly style="padding-left:10px;padding-right:10px;background-color:white">
                                <a id="decrease_cartline" asp-controller="Cart" asp-action="RemoveOneFromCart" asp-route-id="@line.Product.Id" class="input-group-text" style="background-color:#fafafa">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 14 14">
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8" />
                                     </svg>
                                </a>
                               </div>
                               <div class="d-flex" style="position:relative;left:130px;bottom:40px;margin-left:-6px">
                                  <a asp-controller="Cart" asp-action="RemoveOneLine" asp-route-id="@line.Product.Id">
                                       <i class="bi bi-trash3" style="font-size:1.8rem;color:gray;"></i>
                                  </a>
                               </div>
                          </td>

                
                            @{
                                
                                double dpLineTot = 0;
                                double pLineTot = Model.Cart.CartLineOrigValue(line);


                                if (line.Product.IsDiscount)
                                {
                               
                                    dpLineTot = Model.Cart.CartLineDiscountValue(line); 

                                    <td style="text-align:right"></td>
                                    <td style="text-align:right;font-size:18px;font-weight:bold;"><span style="text-decoration:line-through">@Url.Content(pLineTot.ToString()) .-</span>&nbsp;&nbsp;&nbsp;@Url.Content(dpLineTot.ToString()) .-</td>
                                    // <td class="text-right" style="font-size:18px;font-weight:bold">@Url.Content(dp.ToString()) .-</td>
                                }
                                else
                                {
          
                                   <td style="text-align:right"></td>
                                   <td style="text-align:right;font-size:18px;font-weight:bold;">@Url.Content(pLineTot.ToString()) .-</td>
                                }
                            }

                       </tr>
                   }
                 </tbody>
               </table>                
            </div>         
            <div class="col-12 col-xl-3 d-flex justify-content-between ms-2 order_summary" style="background-color:#f2f2f2;border-radius:4px">
                <div class="container">
                
                    <p class="mt-3" style="font-weight:bold">Orderöversikt</p>
                    <hr style="color:black"/>
                        @{
                            var t = Model.Cart.CartTotValue();
                            var m = t * 0.3;

                            int comp = (int)m;
                            if (comp != m)
                            {
                                m = Math.Round(m, 2);
                            }

                            
                        }
                        <div class="row">
                            <div class="col-6"><p>Totalbelopp</p></div>
                            <div class="col-6" style="font-size:18px;font-weight:bold;text-align:right"><p>@Url.Content(t.ToString()) .-</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p>Varav Moms</p></div>
                            <div class="col-6" style="font-size:18px;font-weight:bold;text-align:right"><p>@Url.Content(string.Format(m.ToString("F"))) .-</p></div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-6"style="font-weight:bold"><p>Totalbelopp (SEK)</p></div>
                            <div class="col-6" style="font-size:18px;font-weight:bold;text-align:right"><p>@Url.Content(t.ToString()) .-</p></div>
                        </div>
                        <div>
                          <a class="btn" asp-controller="Cart" asp-action="Checkout" style="width:100%;border-radius:4px;margin-bottom:20px;margin-top:30px;background-color:forestgreen;color:white">Till Kassan</a>
                        </div>
               </div>
            </div>
         </div>
      </div>
   }
  </section>
}

