@model IEnumerable<WebShop.Models.Product>
@{
    Layout = "_LayoutDashboard";
}

@{
    ViewData["Title"] = "Hantera Produkter";
}

<style>
   body{
        background-color: #eef2f9;
   }
</style>

<section style="">
<h3 style="margin-top:40px;">Hantera Produkter</h3>
<p>
    <a id="create_new_product" asp-action="Create">Skapa Ny</a>
</p>

<h4>Alla Produkter</h4>

    <table class="table" style="">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInStore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                <a class="edit_product" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                <a class="delete_product" asp-action="Delete" asp-route-id="@item.Id">Del</a>
            </td>
        </tr>
      }
    </tbody>
</table>
</section>


