@model List<WebShop.Dto.ProductDto>

@{
    ViewData["Title"] = "MediaSales - " + ViewBag.cat;
}


<div class="container" style="margin-top:50px;padding:0 !important" id="products">
    <h4>@ViewBag.cat</h4>
    <div>
        <h6>Hem->Produkter->@ViewBag.cat</h6>   @* breadcrumbs *@
    </div>
    <hr />


        <div class="row gy-3 gx-5" style="margin-bottom:30px">
            @foreach(var item in Model)
            {
                if (item.Id==7)
                {
                    continue;
                }

             <div class="col-md-3">
                <div class="card" style="margin-right:30px;min-width:200px !important;height:100%;padding-right:5px;box-shadow:0 2px 2px rgba(0,0,0,0.2)">
                    <!--style="width: 15rem;" -->
                    <img src="~/Images/Products/@item.CatName/@item.ImageUrl" class="card-img-top card_img" alt="" />
                    <div class="card-body d-md-flex flex-column">
                      <h5 class="card-title">@item.Name</h5>
                      <p class="card-text">@item.Description</p>
                      @if (item.QuantityInStore>0)
                      {
                          <h5 style="font-size:12px;color:forestgreen">I lager: @item.QuantityInStore st</h5>
                      }
                      else
                      {
                          <h5 style="font-size:12px;color:crimson">Ej i lager</h5>
                      }
                      @if (item.IsDiscount)
                      {
                          <div style="display:block;margin-bottom:15px;">
                            <h5 class="card-text" style="text-decoration:line-through;float:left">@item.Price kr</h5>
                            <h5 class="card-text" style="float:right;color:white;background-color:darkgreen;border:2px solid darkgreen;border-radius:4px;padding-left:5px;padding-right:5px;">@item.DiscountPrice kr</h5>
                            @* <h6 class="campaign" style="float:right;margin-top:5px;margin-right:5px;">Nu</h6> *@
                          </div><br/>
                      }
                      else
                      {
                         <h5 class="card-text">@item.Price kr</h5>
                      }
                      
                       <div class="mt-auto" style="clear:both">
                            <form class="cartAdd" asp-controller="Cart" asp-action="AddToCart" method="post" asp-route-id="@item.Id">
                              <input type="submit"  value="Lägg i varukorgen" href="#" id="cart-btn" class="btn btn-dark" style="max-width:200px" />
                           </form>  
                       </div>
               
                    </div>
                </div>
              </div>
             }
           @*  <div class="col-md-4">
            <div class="card" style="min-width:240px;height:100%;">
                <img src="~/Images/Products/Desktops/HP_Pavilion_Gaming_Desktop_TG01_1.jpg" class="card-img-top" alt="" />
                    <div class="card-body d-md-flex flex-column">
                        
                        <h5 class="card-title">HP Pavilion Gaming TG01 desktop</h5>
                     
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h5 style="font-size:12px;color:crimson">Ej i lager</h5>
                        <h5 class="card-text">5500 kr</h5>
                         <div class="mt-auto" style="clear:both">
                            <a href="#" class="btn btn-dark" style="max-width:200px">Lägg i varukorgen</a>
                         </div>             
                    </div>
                </div>
            </div> *@
            @* <div class="col-md-4">
              <div class="card" style="min-width:240px;height:100%;">
                <img src="~/Images/Products/Desktops/desktop-inspiron-3910_1.jpg"  class="card-img-top" alt="">
                <div class="card-body d-md-flex flex-column">
                  
                    <h5 class="card-title">Dell Inspiron 3090</h5>
                
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h5 style="font-size:12px;color:forestgreen">I lager: 30st</h5>
                    <h5 class="card-text">5500 kr</h5>
                    <a href="#" class="mt-auto btn btn-dark" style="max-width:200px">Lägg i varukorgen</a>
                   
                </div>
              </div>
            </div>  *@
            @* <div class="col-md-4">
              <div class="card" style="min-width:240px;height:100%;">
                <img src="~/Images/Products/Desktops/HP_Pavilion_TP01_3042_1.jpg" class="card-img-top" alt="">
                <div class="card-body d-md-flex flex-column">
                
                    <h5 class="card-title">HP Pavilion TP01 3042</h5>
                 
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h5 style="font-size:12px;color:forestgreen">I lager: 30st</h5>
                    <h5 class="card-text">5500 kr</h5>
                    <a href="#" class="mt-auto btn btn-dark" style="max-width:200px">Lägg i varukorgen</a>
                    <!-- </div> -->
                </div>
              </div>
           </div> *@
       </div>
</div>

@* <div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
